<div>
  <div class="panel panel-default">
    <div class="panel-heading">Página de produtos</div>
    <div class="panel-body">
        <div ng-switch on="carregando">
            <div ng-switch-when="true">
                <div ng-show="carregando" class="loader"></div>
            </div>
            <div ng-switch-when="false">
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Peso</th>
                        <th>Calorias</th>
                        <th>Categoria</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="item in lista_dados_tabela">
                        <td>
                          {{item.nome}}
                        </td>
                        <td>
                          {{item.descricao}}
                        </td>
                        <td>
                          {{item.pesoMedio | number: 0}}
                        </td>
                        <td>
                          {{item.calorias | number: 0}}
                        </td>
                        <td>
                          {{item.tipoProduto.nome}}
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>

    </div>
  </div>
</div>
